<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Portal de notícias</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" />
	</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />
		
		<input type="radio" name="gender" value="male"> te<br>
		<input type="radio" name="gender" value="male"> Malete<br>
		<input type="text" id="teste" name="teste" value="ssss"><br>
		<form action="" method="get" >
			<label>Nome autor</label>
			<input type="text" id="autor" name="autor" value="nada" placeholder="Autor da notícia"/>
			<br />
			<input type="date" id="data_noticia" name="data_noticia" value="nada">
			<br />
			<input type="submit" value="Go to Google" />
			<input type="radio" name="botao" id="botao" onclick="javascript:mudarCor();">tsdadad<br>
			<input type="radio" name="botao" value="male" onclick="javascript:mudarCor2();"> Malete<br>
			<p id="demo"></p>
		</form>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script>
function mudarCor(){

	document.getElementById("autor").value = "tsda";
}
function mudarCor2(){
	document.getElementById("autor").value = "teste";
}


</script>


	</body>
</html>